{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
{% endblock %}

{% block content %}
    <!-- content header -->
    <section class="content-header margin-bottom">
    <ol class="breadcrumb">
        <li><a href=""><i class="fa fa-dashboard"></i>凡迪基因报告管理系统 </a> </li>
        <li class="active"><a href="{% url 'NIPT' %}">NIPT</a> </li>
        <li class="active"><a href="{% url 'NIPT_Report' %}">报告审核</a> </li>
    </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    <div id="devlist" >
        <div class="box box-primary" id="liebiao" >
            <div class="box-header">

                    <button type="button" class="btn btn-default btn-sm" onclick="">
                        <i class="fa fa-cloud-upload">生成报告</i>
                    </button>
                    <button type="button" class="btn btn-default btn-sm" onclick="">
                        <i class="fa fa-cloud-upload">导出报告</i>
                    </button>
                    <button type="button" onclick="btnExportTemplate()" class="btn btn-default">
                        <i class="glyphicon glyphicon-upload"></i>导出表格
                    </button>
                <div class="btn-group " id="selectInfo">
                    <button type="button" class="btn btn-default dropdown-toggle pull-right" data-toggle="dropdown" aria-expanded="false" name="selectInfo" id="select">
                        <i class="glyphicon glyphicon-th"></i> <span class="caret"></span> 详细信息
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                    <li data-column="4"><label><input data-column="4" type="checkbox" data-field="date_blood" value="4" >采血日期</label></li>
                    <li data-column="5"><label><input data-column="5" type="checkbox" data-field="age" value="5" >年龄</label></li>
                    <li data-column="6"><label><input data-column="6" type="checkbox" data-field="gestation_weeks" value="6">孕周</label></li>
                    <li data-column="7"><label><input data-column="7" type="checkbox" data-field="last_menstrual" value="7">末次月经</label></li>
                    <li data-column="8"><label><input data-column="8" type="checkbox" data-field="fetus_number" value="8">婴儿数量</label></li>
                    <li data-column="9"><label><input data-column="9" type="checkbox" data-field="tube_baby" value="9" >试管婴儿</label></li>
                    <li data-column="10"><label><input data-column="10" type="checkbox" data-field="telephone" value="10" >电话</label></li>
                    <li data-column="11"><label><input data-column="11" type="checkbox" data-field="province" value="11" >省区</label></li>
                    <li data-column="17"><label><input data-column="17" type="checkbox" data-field="date_report" value="17" >报告时间</label></li>
                    <li data-column="19"><label><input data-column="19" type="checkbox" data-field="person_import" value="19" >导入人员</label></li>
                    <li data-column="20"><label><input data-column="20" type="checkbox" data-field="date_import" value="20" >导入时间</label></li>
                    <li data-column="21"><label><input data-column="21" type="checkbox" data-field="hospital" value="21">送检医院</label></li>
                    <li data-column="22"><label><input data-column="22" type="checkbox" data-field="doctor" value="22">送检医生</label></li>
                    <li data-column="23"><label><input data-column="23" type="checkbox" data-field="remark" value="23">备注</label></li>
                    </ul>
                </div>

                    </button>
                    <!--查询-->
                    <div class="box box-danger" id="researchTable"  style="display: none;overflow: hidden;">
                        <form class="form-horizontal" method="post">
                            <div class="box-body">
                                <fieldset>
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-4 control-label">样本编号</label>
                                        <div class="col-sm-6">
                                            <input class="form-control inputText" name="sample_number" id="sample_number" type="text" placeholder="请输入样本编号" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-4 control-label">孕妇姓名</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" name="name" id="name" type="text" placeholder="请输入孕妇姓名" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-4 control-label">报告地区</label>
                                        <div class="col-sm-6">
                                            <select class="form-control inputText select2" name="report_area" id="report_area">
                                                <option></option>
                                                {% for area in area_list %}
                                                <option value="{{ area.item }}">{{ area.value }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-4 control-label">报告时间</label>
                                        <div class="col-sm-6">
                                        <input type="text" class="form-control pull-right form_datetime" name="date_report_range" id="date_report_range" placeholder="--" autocomplete="off">
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>

                    <button type="button" id="btnSearch" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>查询
                    </button>
                    <button type="button" id="btnRefresh" class="btn btn-default">
                        <i class="glyphicon glyphicon-refresh"></i>刷新
                    </button>

            </div>
            <div class="box-body" style="text-align: center; ">
                <table id="dtbList" class="display nowrap" cellspacing="0" width="100%">
                    <thead>
                    <tr valign="middle" style="text-align: center">
                        <th><input type="checkbox" id="checkAll"></th>
                        <th style="text-align: center;">ID</th>
                        <th style="text-align: center;">样本编号</th>
                        <th style="text-align: center;">姓名</th>
                        <th style="text-align: center;">采血日期</th>
                        <th style="text-align: center;">年龄</th>
                        <th style="text-align: center;">孕周</th>
                        <th style="text-align: center;">末次月经</th>
                        <th style="text-align: center;">单胎/多胎</th>
                        <th style="text-align: center;">试管婴儿</th>
                        <th style="text-align: center;">联系方式</th>
                        <th style="text-align: center;">省区</th>
                        <th style="text-align: center;">报告地区</th>
                        <th style="text-align: center;">T13</th>
                        <th style="text-align: center;">T18</th>
                        <th style="text-align: center;">T21</th>
                        <th style="text-align: center;">检测结果</th>
                        <th style="text-align: center;">报告时间</th>
                        <th style="text-align: center;">报告状态</th>
                        <th style="text-align: center;">导入人员</th>
                        <th style="text-align: center;">导入时间</th>
                        <th style="text-align: center;">送检医院</th>
                        <th style="text-align: center;">医生</th>
                        <th style="text-align: center;">备注</th>

                    </tr>
                    </thead>
                </table>
            </div>

        </div>
    </div>

    </section>
{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'js/plugins/layDate-v5.0.9/laydate/laydate.js' %}"></script>

    <script type="text/javascript">
    var oDataTable=null;
    $(function () {
        oDataTable = initTable();
        function initTable() {
            var oTable = $('#dtbList').DataTable($.extend(true,{},
                DATATABLES_CONSTANT.DATA_TABLES.DEFAULT_OPTION,
                {
                scrollY: "445px",
                scrollCollapse: false,
                searching: false,
                scrollX: true,

                ajax: {
                    "url": "{% url 'NIPT_DataTable' %}",
                    "data": function (d) {
                        d.sample_number=$("#sample_number").val();
                        d.name=$("#name").val();
                        d.date_report_range=$("#date_report_range").val();
                        d.report_area=$("#report_area").val();
                    }
                },
                columns: [
                    DATATABLES_CONSTANT.DATA_TABLES.COLUMN.CHECKBOX,
                    {data: "id",},
                    {
                        data: "sample_number",

                    },
                    {
                        data: "name",

                    },
                    {
                        data: "date_blood",
                        render: function (data, type, full, meta) {
                            return moment(data).format("YYYY-MM-DD");
                        }
                    },
                    {data: "age",},
                    {data: "gestation_weeks",},
                    {
                        data: "last_menstrual",
                        render: function (data, type, full, meta) {
                            return moment(data).format("YYYY-MM-DD");
                        }
                    },
                    {
                        data: "fetus_number",

                    },
                    {data: "tube_baby",},
                    {data: "telephone",},

                    {data: "province",},

                    {
                        data: "report_area",

                    },
                    {data: "T13",},
                    {data: "T18",},
                    {data: "T21",},
                    {
                        data: "result",

                    },
                    {
                        data: "date_report",
                        render: function (data, type, full, meta) {
                            return moment(data).format("YYYY-MM-DD");
                        }
                    },
                    {
                        data: "state_report",
                        render: function (data) {
                            if (data==1){
                                return "数据导入";
                            }else if (data==2){
                                return "数据确认";
                            } else if (data==3){
                                return "报告生成";
                            }else if (data==4){
                                return "报告导出";
                            }
                        }
                    },
                    {data: "person_import",},
                    {
                        data: "date_import",
                        render: function (data, type, full, meta) {
                            return moment(data).format("YYYY-MM-DD HH:mm");
                        }
                    },
                    {
                        data: "hospital",
                    },
                    {data: "doctor",},
                    {
                        data: "remark",
                    },
                ],
            }));
            return oTable;
        }
        //列隐藏
        function hidColumn(jTable, colNum) {
            //jTable为表格对象，colNum为操作列的序号，为整型数字
            var column = jTable.column(colNum);
            column.visible(!column.visible());
        }
        //下拉点击事件
        $("#selectInfo .dropdown-menu").find("li").click(function (e) {
            var val = $(this).find(".hideColCheck").prop("checked");//获取checkbox状态
            //alert(val)
            if (val == false){
                //隐藏
                hidColumn(oDataTable, $(this).attr('data-column'));

            } else {
                //显示操作
                hidColumn(oDataTable, $(this).attr('data-column'));
            }
            //列操作后切换checkbox的值
            $(this).find(".hideColCheck").prop("checked", val);
            //阻止下拉框隐藏
            e.stopPropagation();
        });


        //checkbox全选
        $("#checkAll").on("click", function () {
            if ($(this).prop("checked") === true) {
                $("input[name='checkList']").prop("checked", $(this).prop("checked"));
                $("#example tbody tr").addClass('selected');

            } else {
                $("input[name='checkList']").prop("checked", false);
                $("#example tbody tr").removeClass('selected');
            }
        });

        //查询
        $("#btnSearch").on('click', function () {
            layer.open({
                title: '查询',
                type: 1,
                //offset: 't',
                area: ['500px', '400px'],
                shade: 0.3,
                btn: ['查询', '取消'],
                yes: function (index) {
                    //oDataTable.ajax.reload();
                    if($('#sample_number').val()=='' && $("#name").val()=='' && $("#date_report_range").val()=='' && $("#report_area").val()==""){
                        layer.msg('请输入查询条件！',{time:2000,anim:6,offset:'t'});
                    }else {
                        //alert($('#date_report').val())
                        oDataTable.ajax.reload();
                        layer.close(index);
                    }
                },
                content: $('#researchTable'),
                scrollbar: false,
            });
        });


    });
    </script>
{% endblock %}